.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App .downButton {
  width: 180px;
  height: 30px;
  font-size: 1.2rem;
  text-decoration: none;
  color: #fff;
  background-color: tomato;
  border: none;
  border-radius: 1rem;
  margin-bottom: 3rem;
}

.textInput {
  margin: 20px;
  background: transparent;
  border: 0;
  outline: 0;
  border-bottom: 1px solid #fff;
  color: #fff;
  font-size: 1rem;
  text-align: center;
}

.paletteWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.huePicker {
  padding-top: 1rem;
}
